*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body
{
    width: 100%;
}
html
{
    scroll-behavior: smooth;
}

/* navbar starts */

nav
{
    /* border: 1px solid red; */
    padding: 20px;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 2px 0px 30px 10px rgba(225, 219, 219, 0.333);
    background-color: white;
    z-index: 1111;
}

nav ul
{
    /* border: 8px solid green; */
    display: inline;
    margin-left: 365px;
}

nav ul li
{
    /* border: 1px solid yellow; */
    display: inline;
}

nav .navbar-brand-logo
{
    margin-left: 90px;
    font-size: 30px;
    font-weight: bold;
    color: #24325d;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

nav ul li a
{
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    color: #24325d;
    transition: color .5s;
    
}

nav ul li a:hover
{
    color: #006fbe;
}
/* navbar ends */

/* header starts */

header
{
    /* border: 1px solid red; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f7fb;
}
header h2
{
    margin-left: 110px;
    font-size: 30px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.753);
}
header p
{
    margin-right: 144px;
    font-size: 17px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.753);
}
.home-clr-blue
{
    color: #006fbe;
}
/* header ends */

/* content starts */

.main-box
{
    /* border: 1px solid red; */
    height: 340px;
    width: 546px;
    position: relative;
    /* z-index: -1; */
}
.main-box img
{
    /* border: 1px solid rgb(2, 20, 2); */
    height: 338px;
    width: 544px;
    transition: transform .5s;
}
.main-box .img1
{
    /* height: 100%; */
    /* width: 100%; */
    overflow: hidden;
}
.bg
{
    /* border: 1px solid blue; */
    height: 72%;
    width: 90%;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.227);
    position: absolute;
    top: 280px;
    left: 25px;
    overflow: visible;
    /* opacity: 1; */
    /* z-index: 10; */
    border-top: 4px solid white;
    transition: border-top 0.5s;
}
.bg h2
{
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 20px;
    color: #24325d;
    font-size: 22px;
}
.bg .para
{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 16px;
}
.bg p
{
    /* border: 1px solid red; */
    font-size: 17px;
    padding-left: 10px;
}

.main-box:hover img
{
    transform: scale(1.1);
}

.main-box:hover .bg
{
    border-top: 4px solid #1784d1;
}

.content-flex
{
    /* border: 1px solid red; */
    width: 83%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

/* content ends */

/* Footer starts */

footer
{
    background: #1d284b;
    color: #fff;
    font-size: 14px;
    text-align: center;
    height: 300px;
    width: 100%;
    margin-top: 300px;
}

footer h1
{
    font-size: 40px;
    padding-top: 18px;
}

footer .paragraph
{
    font-style: italic;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
}

footer .social-media-icons i
{
    /* border: 1px solid red; */
    background-color: #006fbe;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding-top: 10px;
    margin-right: 6px;
}

footer .social-media-icons i:hover
{
    cursor: pointer;
    background-color: #58ace8bc;
}

footer .footer-para
{
    margin-top: 40px;
}
footer .footer-para p
{
    margin-bottom: 4px;
}

.bold
{
    font-weight: 800;
}
.clr-blue
{
    color: #1784d1;
}
.clr-blue:hover
{
    color: #0d8be5;
    cursor: pointer;
}

/* Footer ends */

/* Scroll Arrow starts */

.scroll-arrow
{
    background-color: #006fbe;
    height: 44px;
    width: 44px;
    border-radius: 100%;
    position: fixed;
    bottom: 34px;
    right: 30px;
    z-index: 98765;
} 

.scroll-arrow:hover
{
    background-color: #58ace8bc;
}

.scroll-arrow a
{
    color: white;
    /* border: 2px solid red; */
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding-left: 18px;
    padding-top: 6px;
}
 
/* Scroll Arrow ends */